beautifulsoup4==4.4.0
chardet==2.3.0
Django==1.9.1
django-appconf==1.0.1
django-autofixture==0.12.0
django-autoslug==1.9.3
django-classy-tags==0.7.2
django-compressor==2.0
django-extensions==1.6.1
django-faker==0.2
django-fakery==1.3.1
django-meta==1.0
django-newsletter==0.6
django-sekizai==0.9.0
django-tinymce==2.2.0
django-webtest==1.7.8
fake-factory==0.5.3
feedparser==5.2.1
ldif3==3.1.1
lxml==3.5.0
Pillow==3.1.0
python-card-me==0.9.3
python-dateutil==2.4.2
pytz==2015.7
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
smarturls==0.1.4
sorl-thumbnail==12.3
surlex==0.2.0
unicodecsv==0.14.1
waitress==0.8.10
Wand==0.4.1
WebOb==1.6.0a0
WebTest==2.0.20
wheel==0.26.0
