{% extends 'noticia.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block title %}
    <title>Buen Viaje a Cuba - Información general</title>
{% endblock %}

{% block content_content %}
    <div class="static_content">
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/informacion-de-cuba/">De Cuba</a></li>
            <li class="active">Información General</li>
        </ol>
        <div class="fb-like" data-href="http://www.buenviajeacuba.com/informacion-general/"
             data-layout="button_count" data-colorscheme="dark" data-action="like"
             data-show-faces="false"
             data-share="true"></div>
        <div class="title_containter">
            <h2>Información General</h2>
        </div>
        <div class="text_containter">
            {{ titulo|safe }}
        </div>
        {% for x in secciones %}
            <h3 id="secciones_{{ x.2 }}">{{ x.0 }}</h3>
            {{ x.1|safe }}
        {% endfor %}
    </div>
{% endblock %}
{% block new_scripts %}
    <script>
        window.onload = function () {
            uploadSomePics();
        };
    </script>
{% endblock %}
